html {
    overflow-y: scroll;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.grow { 
    -webkit-transition: all .2s ease-in-out; 
    transition: all .2s ease-in-out; 
}

.grow:hover svg {
    -webkit-transform: scale (1.2);
    transform: scale(1.2); 
    -webkit-transition: all .2s ease-in-out; 
    transition: all .2s ease-in-out;
    opacity: 0.6;
}

.grow:hover img {
    -webkit-transform: scale (1.1);
    transform: scale(1.1); 
    -webkit-transition: all .2s ease-in-out; 
    transition: all .2s ease-in-out;
    opacity: 0.95;
}

p {
    margin: 0
}

.container {
    position: relative;
    min-height: 95vh;
    padding: 0;
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contacts {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    margin: 24px 16px 0;
}

.contacts svg {
    margin-left: 18px;
    color: #FFFFFFFF;
    align-items: flex-end;
}

/*
.contacts svg:hover {
    color: #000000;
}
*/

#credits {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 0;
    color: #777777;
    text-align: center;
    height: 5vh;
}

#email {
    margin-top: 1.2px;
}

.header {
    position: absolute;
    top: calc(50% - 205.11px);
    padding: 0 17px;
}

.name {
    font-family: 'Open Sans', sans-serif;
    font-size: 58px;
    font-weight: 600;
    line-height: 1.06;
    color: #000000;
    display: flex;
    margin-bottom: 9px;
}

.description {
    margin-bottom: 56px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #777777;
}

.description p {
    display : inline-block;
    margin: 0;
}

.description p:first-child {
    margin-right: 6px;
}

.nav {
    padding: 0;
    margin-top: 0;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav li {
    list-style: none;
    margin-bottom: 36px;
}

.nav button {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #777777;
    background-color: inherit;
    border: none;
}

.nav button:hover {
    color: #000000;
}

#content {
    width: 100%;
}

#about {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #777777;
    line-height: 34px; 
    padding: 0 17px;
    display: none;
}

#about p {
    margin-bottom: 48px;
}

.underline {
    border-bottom: 1.5px dotted;
    text-decoration: none;
    color: #777777;
}

.underline:hover {
    color: #000000;
}

.work-card {
    width: 100%;
    height: 172px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #FFFFFF;
    line-height: 29px;
}

.work-card img {
    height: 77px;
    margin-right: 22px;
}

/*
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
*/
}

/*
.work-card img: hover {
    height: 80px;
}
*/

#rbc-logo {
    margin-right: 32px;
}

#work {
    width: 100%;
    display: none;
}

#work a {
    text-decoration: none;
}

.work-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.work-caption {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.back-to-top {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #606060;
    margin: 42px 0 34px;
}

.back-to-top svg {
    margin-right: 14px;
}

.hide-on-mobile {
    display: none;
}

@media screen and (min-width: 570px) {
    
    .container {
        align-items: center;
    }
    
    .header {
        top: calc(50% - 107.405px);
    }
    
    .name {
        justify-content: center;
    }
    
    .description {
        justify-content: center;
        margin-bottom: 36px;
    }
    
    .nav {
        flex-direction: row;
        justify-content: center;
    }
    
    .nav li {
        margin-right: 87px;
    }
    
    .nav li:last-child {
        margin-right: 0;
    }
    
    #about {
        max-width: 650px;
        margin: 0 auto;
        padding-bottom: 96px;
    }
    
    #about p {
    margin-bottom: 0px;
    }

    .work-card {
        flex-direction: column;
        height: 659px;
    }
    
    .work-content {
        text-align:center;
        max-width: 475px;
    }
    
    .work-caption {
        margin-bottom: 28px;
    }
    
    .work-card img {
        height: 294px;
        margin-right: 0px;
        margin-bottom: 40px;
    }
    
    #rbc-logo {
    margin-right: 0px;
    }

    .back-to-top {
        margin: 83px 0 85px;
    }
    
    .hide-on-mobile {
        display: initial;
    }
}

