.grow { 
    -webkit-transition: all .2s ease-in-out; 
    transition: all .2s ease-in-out; 
}

.grow:hover {
    -webkit-transform: scale (1.1);
    transform: scale(1.1); 
    -webkit-transition: all .2s ease-in-out; 
    transition: all .2s ease-in-out;
}

.grow:hover svg {
    -webkit-transform: scale (1.1);
    transform: scale(1.1); 
    -webkit-transition: all .2s ease-in-out; 
    transition: all .2s ease-in-out;
}

body {
    margin: 0px;
}

.work-card {
    width: 100%;
    height: 172px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #FFFFFF;
    justify-content: flex-start;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin: 0;
    background-color: #54B948; 
}

.work-card a {
    text-decoration: none;
    color: #FFFFFF;
}


.back-to-work {
    font-family: "Open Sans", sans-serif;
    margin: 22px 0px 0px 22px;
    font-size: 16px;
    font-weight: 600;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}


.back-to-work svg {
    margin-right: 14px;
}

blockquote {
    align-content: center;
    text-align: center;
}

.work-title {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 47px 0px 6px 30px;
}

.work-caption {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 30px;
}

/*
.team {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #777777;
    margin: 14px 0px 8px 0px;
}

#team {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #54B948;
}
*/

.tools {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #777777;
    margin: 14px 0px 48px 0px;
}

#tools {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #54B948;
}

.content {
    padding: 0px 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #777777;
    line-height: 34px;
}

.content-section-title {
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #54B948;
    margin-bottom: 12px;
}

.content-section {
    margin-bottom: 28px;
}

.content-one-section {
    margin-bottom: 64px;
}

.content-last-section {
    margin-bottom: 64px;
}

.centre-img {
    display: block;
    margin-top: 40px;
    margin-bottom:48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centre-img-no-shadow {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    width: 100%;
}

p {
    align-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 400;
}

#user-journey {
    margin-top: 36px;
}

#user-flow {
    margin-bottom: 64px;
}

#n2c {
    margin-bottom: 64px;
}

#final {
    margin-bottom: 64px;
}

.next {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 18px;
    text-align: right;
    text-decoration: none;
    color: #606060;
    margin-bottom: 128px;
    margin-top: 64px;
}

.next svg {
    color: #005AB4;
    font-size: 24px;
    margin-left: 14px;
}

#td-hmw {
    margin-top: 40px;
}

@media screen and (min-width: 570px) {
    
    .work-card {
        height: 240px;
        margin: auto;
    }
    
    .work-content {
        width: 650px;
        margin: 0 auto;
        padding: 0 30px;
    }
    
    .work-title {
        font-size: 48px;
        margin-top: 80px;
        margin-left: 0px;
    }
    
    .work-caption {
        font-size: 20px;
        margin-left: 0px;
    }

    .content {
        max-width: 650px;
        margin: auto;
    }